@{
    ViewData["BBMVC"] = "Index";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />


<div class="text-center">
    <h1 class="display-4">Team Builder</h1>
</div>

    <button id="RosterDrop">Teams</button>
    <div id="DropdownMenu" class="DropContent">
        <a href="#">Human</a>
        <a href="#">Orc</a>
        <a href="#">Dark elf</a>
        <a href="#">Dwarf</a>
        <a href="#">Elven union</a>
        <a href="#">Nurgle</a>
        <a href="#">High elf</a>
        <a href="#">Skaven</a>
        <a href="#">Wood elf</a>
        <a href="#">Goblin</a>
        <a href="#">Underworld denizen</a>
        <a href="#">Chaos renegade</a>
    </div>

@* Här kommer listan med stats dyka upp *@
    <div id="rosterTable"></div>



<div id="playerSelection"></div>

<button id="buyTeamButton">Buy team </button>

<table id="selectedPlayersTable" border="1">
    <thead>
        <tr>
            <th>Player</th>
            <th>Cost</th>
            <th>Position</th>
            <th>Move</th>
            <th>Strength</th>
            <th>Agility</th>
            <th>Armor</th>
            <th>Skills</th>
        </tr>
      </thead>
      <tbody>
        @* Here will the selected players be shown *@
      </tbody>
    </table>

@* Select för spelare 
<select id="playerDropDown" disabled>
    <option value="">Select player</option>
</select>
<button id="BuyPlayer" disabled>Add player</button>*@
<img id="racepic" src="" alt="Team Image" />


    
     

@section Scripts 
{
    <script src="~/js/home.js" asp-append-version="true"></script>
}


